body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    width: 100%;
}

body, h1, h2, h3, h4, h5, h6, p {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "NotoSans", sans-serif;
}

h1.header-title {
    margin: 30px !important;
}

h1.page-title {
    color: rgb(36, 76, 122);
    font-size: 32px;
}

header {
    display: flex;
    padding: 10px 30px;
    background: rgb(21, 76, 138);
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

header h1 span {
    margin: 0 10px;
}

main {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
    background: white;
    margin-top: 120px;
}

main .side-menu {
    background: rgb(230, 230, 230);
    min-height: 95vh;
    padding: 30px 0;
    position: fixed;
    top: 0;
    width: 20%;
    margin-top: 100px;
    z-index: 0;
}

.side-menu ul li {
    display: block;
}

.side-menu ul li a {
    text-decoration: none;
    font-weight: 500;
    color: rgb(32, 32, 32);
    display: block;
    padding: 10px 10px;
    margin: 10px 0;
    background: rgba(21, 76, 138, 0.212);
    transition: .5s;
    border-right: 5px solid rgb(25, 105, 197);
}

.side-menu ul li a span {
    margin: 0 10px;
}


.side-menu ul li a:hover, .side-menu ul li a.active  {
    background: rgba(21, 75, 138, 0.788);
    border-right: 15px solid white;
    cursor: pointer;
    color: white;
}

.side-menu ul li:hover a {
    color: white;
}
main .content {
    padding: 30px;
}

.d-none {
    display: none !important;
}

.alert-toaster {
    position: fixed;
    z-index: 100;
    bottom: 2em;
    right: 2em;
    width: 15vw;
    padding: 10px 10px;
    border-radius: 10px;
    opacity: 0;
    transition: 1s;
}

.alert-toaster.appear {
    opacity: 1;
}

.alert-toaster h5 {
    padding: 0;
    margin: 5px 0;
}

.alert-toaster.error {
    background: rgb(247, 219, 219);
    border-top: 5px solid rgb(207, 24, 24);
    color: rgb(49, 20, 20);
}

.alert-toaster.error h5 {
    color: rgb(51, 16, 16);
}

.alert-toaster.success h5 {
    color: rgb(6, 20, 10);
}

.alert-toaster.success {
    background: rgb(207, 243, 216);
    border-top: 5px solid rgb(10, 145, 44);
    color: rgb(6, 20, 10);
}

button {
    cursor: pointer !important;
}


